<!--==========================
  Stylesheets
============================-->
{% include 'stylesheets.html' %}

<!--==========================
  Header
============================-->
{% include 'navbar.html' %}
<br>
<br><br>
<br><br>
<br>
<br>
<h2>Death Penalty</h2>
<img src = "/static/proDeath.PNG" width = "750px%" height = "200px%"ALIGN=”left”>
<img src = "/static/againstDP.PNG" width = "750px%" height = "400px%"ALIGN=”right”>
<br>
<br><br>
<br>
<br>
<br>
<br>
<h2>Gun Control</h2>
<img src = "/static/forGC.PNG" width = "750px%" height = "400px%"ALIGN=”left”>
<img src = "/static/Against gun.PNG" width = "750px%" height = "400px%"ALIGN=”right”>

<br>
<br>
<br>
<br><br>


<img src = "/static/Compare&Contrast.PNG" width = "1000px%" height = "800px%">

<!--==========================
  JavaScript
============================-->
{% include 'javascript_resources.html' %}
