<!--==========================
  Header
============================-->
<header id="header">
  <div class="container">

    <div id="logo" class="pull-left">
      <!-- Uncomment below if you prefer to use a text logo -->
      <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
      <a href="#intro" class="scrollto"><img src="{{ url_for('static', filename='logo.jpg') }}" alt="" title=""></a>
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu-active"><a href="#index.html">Home</a></li>
        <li><a href="example1.html">Example1</a></li>
        <li><a href="example2.html">Example2</a></li>
        <li><a href="example3.html">Example3</a></li>
        <li><a href="example4.html">Example4</a></li>
        <li class="buy-tickets"><a href="resources.html">Resources</a></li>
      </ul>
    </nav><!-- #nav-menu-container -->
  </div>
</header><!-- #header -->
