<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Twitter Scrape</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='favicon.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{{ url_for('static', filename='font-awesome.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='animate.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='venobox.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='owl.carousel.min.css') }}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">

</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
        <a href="#intro" class="scrollto"><img src="{{ url_for('static', filename='logo.jpg') }}" alt="" title=""></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#index.html">Home</a></li>
          <li><a href="example1.html">Example1</a></li>
          <li><a href="example2.html">Example2</a></li>
          <li><a href="example3.html">Example3</a></li>
          <li><a href="example4.html">Example4</a></li>
		      <li class="buy-tickets"><a href="resources.html">Resources</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container wow fadeIn">
      <h1 class="mb-4 pb-0">AI<span> Twitter Bot</span> Analysis</h1>
      <p class="mb-4 pb-0">AI using Twitter</p>
      <a href="https://youtu.be/gaWwmLp7ils" class="venobox play-btn mb-4" data-vbtype="video"
        data-autoplay="true"></a>
      <a href="#about" class="about-btn scrollto">Team Hail Mary</a>
    </div>
  </section>

  <main id="main">

    <!--==========================
      About Section
    ============================-->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2>Team Hail Mary</h2>
            <p>Let us us AI to summarize your daily topics using Twitter</p>
			<p>The Last Project for UCSD Data Science and Visualization cohort 2018</p>
			<br>
			<a class="twitter-timeline" href="https://twitter.com/NagaokaStanley?ref_src=twsrc%5Etfw">Tweets by NagaokaStanley</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script><a <a class="twitter-timeline" href="https://twitter.com/cfrichardson1?ref_src=twsrc%5Etfw">Tweets by cfrichardson1</a> <script async src="ht<a class="twitter-timeline" data-height="700" href="https://twitter.com/cfrichardson1?ref_src=twsrc%5Etfw">Tweets by cfrichardson1</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </div>
      </div>
    </section>




    <!--==========================
      F.A.Q Section
    ============================-->
    <section id="faq" class="wow fadeInUp">

      <div class="container">

        <div class="section-header">
          <h2>Our Team </h2>
        </div>

        <div class="row justify-content-center">
          <div class="col-lg-9">
              <ul id="faq-list">

                <li>
                  <a data-toggle="collapse" class="collapsed" href="#faq1">Peter Nguyen<i class="fa fa-minus-circle"></i></a>
                  <div id="faq1" class="collapse" data-parent="#faq-list">
                    <p>
                      Business Analysis at Illumina
                    </p>
                  </div>
                </li>

                <li>
                  <a data-toggle="collapse" href="#faq2" class="collapsed">Jes Santora<i class="fa fa-minus-circle"></i></a>
                  <div id="faq2" class="collapse" data-parent="#faq-list">
                    <p>
                      Financial Planning & Analysis at Thermo Fisher Scientific
                    </p>
                  </div>
                </li>

                <li>
                  <a data-toggle="collapse" href="#faq3" class="collapsed">Chris Richardson<i class="fa fa-minus-circle"></i></a>
                  <div id="faq3" class="collapse" data-parent="#faq-list">
                    <p>
                      Data/Software Engineer seeking new opportunities
                    </p>
                  </div>
                </li>

                <li>
                  <a data-toggle="collapse" href="#faq4" class="collapsed">Stanley Nagaoka<i class="fa fa-minus-circle"></i></a>
                  <div id="faq4" class="collapse" data-parent="#faq-list">
                    <p>
                      Human Resources Analysis and Services at Department of Navy
                    </p>
                  </div>
                </li>



              </ul>
          </div>
        </div>

      </div>

    </section>


    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">

      <div class="container">

        <div class="section-header">
          <h2>Contact Us</h2>
		  <p>Team Hail Mary</p>
          <p>Running a Hail Mary at UCSD Data Science and Visualization</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Address</h3>
              <address>6256 Greenwich Drive San Diego, CA 92122</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Phone Number</h3>
              <p><a href="tel:+18585343400">(858) 534-3400</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="mailto:unextechdata@ucsd.edu">unex-techdata@ucsd.edu</a></p>
            </div>
          </div>

        </div>

        <div class="form">
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>
    </section><!-- #contact -->

  </main>


  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <img src="img/logo.jpg" alt="TheEvenet">
            <p>Team Hail Mary<br>Running a Hail Mary at UCSD Data Science and Visualization</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="fa fa-angle-right"></i> <a href="index.html">Home</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="example1.html">Example1</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="example2.html">Example2</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="example3.html">Example3</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="example4.html">Example4</a></li>
			        <li><i class="fa fa-angle-right"></i> <a href="resources.html">Resources</a></li>

            </ul>
          </div>



          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              6256 Greenwich Drive <br>
              San Diego, CA 92122<br>
              United States <br>
              <strong>Phone:</strong> (858) 534-3400<br>
              <strong>Email:</strong> unex-techdata@ucsd.edu<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>The Average Joes</strong>. All Rights Reserved
      </div>
      <div class="credits">

      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='jquery-migrate.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='easing.min.js') }}"></script>
  <script src="{{ url_for('static', filename='hoverIntent.js') }}"></script>
  <script src="{{ url_for('static', filename='superfish.min.js') }}"></script>
  <script src="{{ url_for('static', filename='wow.min.js') }}"></script>
  <script src="{{ url_for('static', filename='venobox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='owl.carousel.min.js') }}"></script>



  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>
