<!-- JavaScript Libraries -->
<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery-migrate.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='easing.min.js') }}"></script>
<script src="{{ url_for('static', filename='hoverIntent.js') }}"></script>
<script src="{{ url_for('static', filename='superfish.min.js') }}"></script>
<script src="{{ url_for('static', filename='wow.min.js') }}"></script>
<script src="{{ url_for('static', filename='venobox.min.js') }}"></script>
<script src="{{ url_for('static', filename='owl.carousel.min.js') }}"></script>



<!-- Contact Form JavaScript File -->
<script src="contactform/contactform.js"></script>

<!-- Template Main Javascript File -->
<script src="{{ url_for('static', filename='main.js') }}"></script>
